extends layout

block content
  h1= title
  p Listagem de ações capturadas...

  h2 Filtros

  form(type="POST", action="/")
    select(name='order')
      option(value='0') ASC
      option(value='1') DESC
    input(name='limit', placeholder='Limite')
    a(href='#', id='mais') mais
    <br/>
    div(id='filtros')
    input(type='submit', value="Enviar")

  
  <br/><br/><br/>

  h2 Tabela de Ações

  table
    thead
      tr
        th= "ID"
        th= "TIME"
        th= "TYPE"
        th= "TAG"
        th= "TAG-INFO"
        th= "CONTENT"
        th= "USER"
        th= "ROLE"
        th= "JHM"
        th= "VERSION"
    tbody
      each action in actions
        tr
          td= action.id
          td= moment(action.sTime).format('DD/MM/YYYY HH:mm:SS')
          td= action.sActionType
          td= (action.sTag ? action.sTag + " [" + action.sTagIndex + "]" : "") 
          td= (action.sId ? "#" + action.sId + "," : "") + (action.sClass ? "." + action.sClass + "," : "") + (action.sName ? "name=" + action.sName : "")
          td= action.sContent
          td= action.sUsername
          td= action.sRole
          td= action.sJhm + "; " + action.sActionJhm + "; " + action.sSectionJhm
          td= action.sClient + "[" + action.sVersion + "]"




  script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js').

  script(type='text/javascript').
      (function($){
        $(document).ready(function(){
          $(document).on('click', '#mais', function(e){
            e.preventDefault();
            $('#filtros').append('<input type="text" name="filterName[]" placeholder="Atributo"><input type="text" name="filterValue[]" placeholder="Valor"><br/>')
          });
        });
      })(jQuery);